root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,sln}]
charset = utf-8-bom
end_of_line = crlf

[*.{csproj,props}]
end_of_line = crlf
indent_size = 2

[*.{def,lrc,tja}]
# charset = cp932
charset = unset
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
