*.suo
*.snk
*.pfx
/.vs/*
/.vscode*/*
!/.vscode/extensions.json
*/bin/*
*/obj/*
*.exe
*.exe.config
*.log
*.pdb
*.db
*.swp
*.dms
*.ust
*.score.ini
*.score.json
*.DotSettings.user
*.bs1770gain.xml
*.xcf
.DS_Store
/packages/*
/Test/*
/publish/*
