name: Build TJAPlayerPI

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
        contents: write

    steps:
      - uses: actions/checkout@v3
      - name: Clone repo
        run: |
          git clone https://github.com/Takkkom/TJAPlayerPI.git
          git checkout main
        env:
          NAME: ${GITHUB_ACTOR}
          EMAIL: ${GITHUB_ACTOR}@users.noreply.github.com

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Observe the Directory
        shell: cmd
        run: |
          dir

      - name: Build for Windows x64
        shell: cmd
        run: |
          build-win-x64.bat

      - name: Create Archive (Win x64)
        shell: cmd
        run: |
          cd TJAPlayerPI.Desktop\bin\Release\net8.0\win-x64\publish\
          7z a ../../../../../../TJAPlayerPI_win_x64.zip * -xr!System/
          cd ..\..\..\..\..\..\

      - name: Build for Windows x86
        shell: cmd
        run: |
          build-win-x86.bat

      - name: Create Archive (Win x86)
        shell: cmd
        run: |
          cd TJAPlayerPI.Desktop\bin\Release\net8.0\win-x86\publish\
          7z a ../../../../../../TJAPlayerPI_win_x86.zip * -xr!System/
          cd ..\..\..\..\..\..\

      - name: Build for Mac x64
        shell: cmd
        run: |
          build-osx-x64.bat

      - name: Create Archive (Mac x64)
        shell: cmd
        run: |
          cd TJAPlayerPI.Desktop\bin\Release\net8.0\osx-x64\publish\
          7z a ../../../../../../TJAPlayerPI_osx_x64.zip * -xr!System/
          cd ..\..\..\..\..\..\

      - name: Build for Linux x64
        shell: cmd
        run: |
          build-linux-x64.bat

      - name: Create Archive (Linux x64)
        shell: cmd
        run: |
          cd TJAPlayerPI.Desktop\bin\Release\net8.0\linux-x64\publish\
          7z a ../../../../../../TJAPlayerPI_linux_x64.zip * -xr!System/
          cd ..\..\..\..\..\..\

      - name: Upload All Builds
        uses: xresloader/upload-to-github-release@v1.4.2
        with:
          file: "TJAPlayerPI_win_x64.zip;TJAPlayerPI_win_x86.zip;TJAPlayerPI_osx_x64.zip;TJAPlayerPI_linux_x64.zip"
          overwrite: true
          tag_name: "autobuild"
          draft: false
          token: ${{ secrets.GITHUB_TOKEN }}
